<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <span class="profile-link user-name">
          <%= user.name %>
        </span>
        <%= profile_link(user) %>

        <% ft = friendship_state(user, user.outer_status, user.inner_status, 'profile-link') %>
        <% fl = friendship_links(user, user.outer_status, user.inner_status, 'profile-link', 'index') %>
        <% ft.each do |t| %>
          <%= t %>
        <% end %>
        <% fl.each do |l| %>
          <%= l  %>
        <% end %>

      </li>
    <% end %>
  </ul>
</section>
 