<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <span class="user-name">
          <%= user.name %>
        </span>
        <span class="profile-link">
          <%= profile_link(user) %>
        </span>

        <% ft = friendship_state(user, user.outer_status, user.inner_status) %>
        <% fl = friendship_links(user, user.outer_status, user.inner_status) %>
        <% ft.each do |t| %>
          <span class=“profile-link”>
            <%= t %>
          </span>
        <% end %>
        <% fl.each do |l| %>
          <span>
            <%= l  %>
          </span>
        <% end %>

      </li>
    <% end %>
  </ul>
</section>
 